.Inputfields > li > .ui-widget-content > ul.InputfieldFileList > li,
.Inputfields > li > .InputfieldContent > ul.InputfieldFileList > li, .floatleft {
	float: left;
	margin-right: 20px;
}
#slider{
	width: 40%;
	margin-left: 29%;
	margin-bottom: 17px;
}
#zoom{
	margin-bottom: 10px;
	width: 100%;
}
